/*
  Author: Lester Dela Cruz
  Description: This is styling for a gmail integration application

  Table of Contents:

  1. Application Section: Styling for the global application
  2. Navigation Section: Styling for navigation bar
  4. Miscillaneous Styles: Styles that don't really 
  belong anywhere
*/

/*
  Application Section
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", Helvetica;
}

.app {
  position: relative;
  background: rgb(246, 246, 246);
  height: 100%;
  width: 100%;
}

/*
  Navigation Section
*/

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
}

.nav-menu-items {
  display: flex;
}

.nav-menu-item {
  list-style-type: none;
  font-size: 20px;
  color: gray;
  height: 100%;
  flex-basis: 5%;
  position: relative;
  cursor: pointer;
  z-index: inherit;
  transition: background 0.5s ease;
}

.nav-menu-items li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: inherit;
}

.nav-menu-items li:hover,
.nav-toggled {
  background: lightgray;
}

.nav-menu-items li:nth-child(1) {
  margin-left: 0px;
}

/*
  Miscillaneous Styles
*/
.wh-bg {
  background: white;
}
